[project]
	description = this test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cockroach1136
[access "refs/for/refs/*"]
	read = group user/cockroach1136
	push = group user/cockroach1136
	label-Code-Review = -2..+2 group user/cockroach1136
	label-Verified = -1..+1 group user/cockroach1136
	rebase = group user/cockroach1136
	removeReviewer = group user/cockroach1136
	submit = group user/cockroach1136
[access "refs/heads/*"]
	read = group user/cockroach1136
	create = group user/cockroach1136
	push = +force group user/cockroach1136
	pushMerge = group user/cockroach1136
[access "refs/tags/*"]
	push = group user/cockroach1136
	push = +force group user/cockroach1136
